# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3
*.db
/__pycache__/

# Jupyter Notebooks
.ipynb_checkpoints/
# VS Code
.vscode/

# Logs
*.log
logs/

# Docker
*.pid
docker-compose.override.yml

# Node.js
node_modules/
dist/
.next/
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Excel/CSV samples
*.xlsx
*.csv

# Misc
*.bak
*.swp
*.tmp

# Ignore local config
config/local_*.py

